{% extends 'main/base.html' %}

{% block content %}
    <div class="content">
        <div class="ic"></div>
        <div class="container_12">
            <div class="warning"><p>Уточняйте цены по <a href="contacts">телефону</a></p></div>
            {% for price_list in price_lists %}
                <table class="m-table price">
                    <tr class="price-list-name">
                        <td class="t-subtitle" colspan="4">
                            {{ price_list.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена</th>
                    </tr>
                    {% for price in price_list.price_set.all %}
                        <tr>
                            <td>{{ price.name }}</td>
                            <td>{{ price.price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            <div class="warning"><p>Дети с семи лет по направлению лечащего врача</p></div>
        </div>
    </div>
{% endblock %}
